{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/history.css' %}" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1><a href="{% url 'main_page' %}" class="logo">Mini Kinopoisk</a></h1>
      <nav>
        {% if user.is_authenticated %}
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="{% url 'users:profile'%}">{{ user.username }}</a>
          </li>
          {% if user.is_superuser or user.is_staff %}
          <li>
            <a class="dropdown-item" href="{% url 'admin:index' %}"> Админ-панель </a>
          </li>
          {% endif %}
          <li>
            <a class="dropdown-item" href="{% url 'users:logout' %}"> Выйти </a>
          </li>
        </ul>
        {% else %}
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="{% url 'users:login' %}">Войти</a>
          </li>
        </ul>
        {% endif %}
      </nav>
    </header>

    <!-- Main Layout -->
    <main class="main-layout">
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="separator_top"></div>
        <ul>
          <li><a href="{% url 'main_page' %}">Главная страница</a></li>
          <li><a href="{% url 'films_serials:films_serials' %}">Найти фильм</a></li>
          <li><a href="#">Рандомный фильм</a></li>
          <li><a href="#">Кастомный поиск</a></li>
          <li><a href="{% url 'history:history' %}">История поиска</a></li>
        </ul>
        <div class="separator"></div>
        <ul>
          <li><a href="#">Обратная связь</a></li>
          <li><a href="#">Помощь</a></li>
          <li><a href="#">Поддержка</a></li>
          <li><a href="#">Инфо</a></li>
        </ul>
      </div>
      <!-- Content -->
      <div class="content">{% block content %} {% endblock content %}</div>
    </main>

    <!-- Additional Scripts or Footer if needed -->
  </body>
</html>
