{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MiniKinopoisk - Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="container">
      <form class="login-form" action="{% url 'users:login' %}" method="post">
        <h2>Авторизация</h2>
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.username.username }}">Никнейм:</label>
          {{ form.username }}
        </div>
        <div class="form-group">
          <label for="{{ form.password.password}}">Пароль:</label>
          {{ form.password }}
        </div>
        <button type="submit" class="button">Войти</button>
        <div class="register-link">Нет аккаунта? <a href="{% url 'users:registration' %}">Зарегистрироваться</a></div>
        <div class="main_page-link">Вернуться на <a href="{% url 'main_page' %}">главную страницу</a></div>
      </form>
    </div>
  </body>
</html>
