{% extends "users/base.html" %} 
{% load static %} 


{% block title %} 
    MiniKinopoisk - Profile 
{% endblock title %} 


{% block content %}
<div class="container">
        <div class="user-card">
            <div class="user-info">
                <div class="profile-header">
                    <h2>Профиль <span id="user-display-name">username</span></h2>
                    <div class="photo-frame">
                        <img src="{% static 'user_default_image\default_avatar.jpg' %}" alt="Фото пользователя" id="user-photo">
                        <button class="change-photo-button">Сменить</button>
                    </div>
                </div>
                <form action="/update_profile" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>

                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" required>

                    <label for="second_name">Second Name:</label>
                    <input type="text" id="second_name" name="second_name" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="phone_number">Phone Number:</label>
                    <input type="tel" id="phone_number" name="phone_number" required>

                    <button type="submit">Сохранить изменения</button>
                </form>
                <form action="/delete_account" method="post">
                    <button type="submit" class="delete-button">Удалить аккаунт</button>
                </form>
            </div>
            <div class="extra-content">
                <h2>Дополнительная информация</h2>
                <p>Этот блок пока пуст. Сюда можно добавить любую информацию.</p>
            </div>
        </div>
    </div>
{% endblock content %}
