{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MiniKinopoisk - registration</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
  </head>
  <body>
    <div class="container">
      <form class="login-form" action="{% url 'users:registration' %}" method="post">
        <h2>Регистрация</h2>
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.username.username }}">Никнейм:</label>
          {{ form.username }} 
          {% if form.username.errors %}
          <div class="error">{{ form.username.errors }}</div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.email.email }}">Почта:</label>
          {{ form.email }}
          {% if form.email.errors %}
          <div class="error">{{ form.email.errors }}</div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.phone_number.phone_number }}">Номер телефона:</label>
          {{ form.phone_number }}
          {% if form.phone_number.errors %}
          <div class="error">{{ form.phone_number.errors }}</div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.password1.password1 }}">Пароль:</label>
          {{ form.password1 }}
          {% if form.password1.errors %}
          <div class="error">{{ form.password1.errors }}</div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.password2.password2 }}">Повторите пароль:</label>
          {{ form.password2 }}
          {% if form.password2.errors %}
          <div class="error">{{ form.password2.errors }}</div>
          {% endif %}
        </div>
        <button type="submit" class="button">Зарегистрироваться</button>
        <div class="register-link">Уже есть аккаунт? <a href="{% url 'users:login' %}">Войти</a></div>
        <div class="main_page-link">Вернуться на <a href="{% url 'main_page' %}">главную страницу</a></div>
      </form>
    </div>
  </body>
</html>
